/* Background */

body {
  background-color: #1f1d36;
  color: #eeeeee;
  font-family: "Roboto", sans-serif;
}

.odd {
  background-color: #eaeaea;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 4;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  /* transform: rotate(50deg); */
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  -webkit-animation: drop 7s 0s infinite;
  animation: drop 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: -25%;
}
.line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.line:nth-child(3) {
  margin-left: 25%;
}
.line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

/* Header Section */

.serif-font {
  font-family: "Eczar", serif;
}

.my-name {
  background: linear-gradient(to right, #30cfd0, #c43ad6);
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Navigation Bar */

.navbar-element {
  display: inline-block;
}

a:hover {
  color: #f8485e;
}

/* About Section */

.header {
  letter-spacing: 0.1rem;
}

.profile-img {
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  width: 20vw;
}

/* Skill set Graph  */

.skill {
  background-color: #0774bd;
}

.percent-fill {
  background-color: #49b6ff;
}

.percent {
  background-color: #8acefb;
}

/* Project Section */

.card {
  /* need position to restrict .insta to sit inside this div */
  position: relative;
  z-index: 1;
}

.card-img-top {
  position: absolute;
  z-index: 2;
}

.block1,
.block2,
.block3,
.block4,
.block5,
.block6 {
  position: absolute;
  top: 1;
  z-index: 3;
  opacity: 0;
  transition: 333ms linear;
}
